.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: rgb(255, 255, 255);
  }
  
  .logo-img {
    width: 250px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add margin for spacing */
  }