*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
  background-color: #ededdf;
}

.file-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*flex-direction: row;*/
  /*height: 100%;*/
  flex-wrap: wrap; /* Allow items to wrap to the next line */  
  background-color: #ededdf;
}

.box {
  width: 45% calc(50% - 40px); /*Adjust width for two boxes per row with spacing */
  max-width: 500px; /* Set maximum width for each box */
  margin: 0 40px; /* Add margin to create space between the boxes */
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  justify-content: center;
  transition: transform 0.3s ease;
}

.box{
  background-color: #ffffff;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  margin: 0 4px;
  width: 500px;
  transition: transform 0.3s ease;
}


  .box:hover{
    transform: translateY(-10px);
  }

  input[type="file"]{
    margin-bottom: 40px;
  }
  
  .column-checkboxes {
    margin-top: 40px;
  }
  
  .column-checkbox {
    display: block;
    margin-bottom: 30px;
  }
  
  /* Additional styling for checkboxes */
  input[type="checkbox"] {
    margin-right: 5px;
  }

  .column-section {
    margin-top: 20px;
  }

  .create-button {
    margin-top: 20px;
    align-self: center;
  }

  .center-master-div{
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    margin-right: 20px;
  }

  .merge-button {
    margin-top: 20px;
    align-self: center;
    background-color: rgb(174, 20, 20);
    color: #ffffff;
    border-radius: 12px;
    border: none;
    padding: 20px 40px;
    display: inline-block;
    font-size: 20px;
    margin: 40px 0;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: background-color 0.3s;
    text-align: center;
  }

  .view-dataset{
    margin: 20px 0;
  }

  .view-button{
    color: #ffffff;
    background-color: rgb(174, 20, 20);
    border: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    margin: 40px 0;
  }